{% extends 'base.html' %}


{% block title %}
    detail post
{% endblock %}


{% block content %}
    {% if request.user.id == post.user.id %}
        <div class="mb-3 d-flex">
            <a href="{% url 'post:post_delete' post.id %}" class="btn btn-danger me-2">Delete</a>
            <a href="{% url 'post:post_update' post.id %}" class="btn btn-primary">Edit</a>
        </div>
    {% endif %}
    <p><a href="{% url 'account:user_profile' post.user.id %}"> {{ post.user.username }}</a> " {{ post.update|date:"Y M d" }} "</p>
    <p>{{ post.body }}</p>



    {% if request.user.is_authenticated %}
        <form action="" novalidate method="post">
            {% csrf_token %}

            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <h5 class="alert alert-danger">{{ error }}</h5>
                {% endfor %}
            {% endfor %}
            <div class="mb-2">
                <h6>comment:</h6>
                {{ form.body }}
            </div>
            <input type="submit" class="btn btn-primary" value="Send">
        </form>
    {% else %}
        <p class="alert alert-danger">only logged in users can comment.</p>
    {% endif %}
    <div class="card bg-dark text-white" style="padding: 20px;">
        {% if comments %}
            <p>length comment : {{ comments|length }}</p>
        {% endif %}
        {% for comment in comments %}

            <div class="mb-2 bg-light text-dark">

                <p class="card-header"> name : {{ comment.user }} | {{ comment.created|timesince }}</p>
                <p class="card-body">{{ comment.body }}</p>

                {% if request.user.is_authenticated %}
                    <div class="d-flex justify-content-center item-center w-100">
                        <form action="{% url 'home:add_reply' post.id comment.id %}" method="post" >
                            {% csrf_token %}
                            {{ reply_form.body }}
                            <input type="submit" value="Send">
                        </form>
                    </div>
                {% endif %}

                {% with comment.rcomments.all as replies %}
                    {% for reply in replies %}
                    
                        <div class="bg-primary p-3 m-2">
                            <p> name : {{ reply.user }} | {{ reply.created|timesince }}</p>
                            <p>{{ reply.body }} </p>
                        </div>
                    
                    {% endfor %}

                {% endwith %}
                
            </div>

        {% empty %}
            <p class="text-center">No comment</p>
        {% endfor %}

    </div>
{% endblock %}