{% extends 'base.html' %}

{% block title %}
    profile
{% endblock %}
{% block content %}


    <h3 class="text-center">{{ user.username }}</h3>

    <div class="card">
        {% if posts|length == 0 %}
            <b class="text-center">You have no post</b>
        {% else %}
            {% for post in posts %}
                <a href="{{ post.get_absolute_url }}" class="card-body">
                    {{ post.body|truncatewords:5 }}
                </a>
            {% endfor %}
        {% endif %}
    </div>
    {% if request.user.is_authenticated %}
        <div class="d-flex justify-content-center mt-3">
            <a href="" class="btn btn-primary">Create Post</a>
        </div>
    {% endif %}
        
        
{% endblock %}